{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}

{% block body %}
    <main>
        <section>
            <div class='login'>
                <div class='login_title'>
                    <h1>Vous avez oubliez votre mot de passe ?</h1>
                    <p>Entrer votre e-mail pour en recevoir un nouveau d'ici quelque instant</p>
                </div>
                <form method="post">
                    <div class='login_fields'>
                        <div class='login_fields__user'>
                            <div class='icon'>
                                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
                            </div>
                            <input placeholder='E-mail' type='text' name="email" required autofocus>
                            <div class='validation'>
                                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png'>
                            </div>
                            </input>
                        </div>
                        <div class="alert">
                                {{ message }}
                        </div>
                        <div class='login_fields__submit'>
                            <div>
                                <input type="submit" class="submit">
                            </div>
                            <br />
                            <div class="login_titleAccount">
                                <span>Vous n'avez pas de compte ?</span> <a href="{{ path('security_registration') }}">Cliquez ici</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %}