{% extends 'base.html.twig' %}

{% block title %}Reset Password !{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/registration.css') }}">
{% endblock %}
{% block body %}
    <main>
        <section>
            <div class='login'>
                <div class='login_title'>
                    <span>Tapez votre nouveau mot de passe</span>
                </div>
                <form method="post">
                    <div class='login_fields'>
                        <div class='login_fields__user'>
                            <div class='icon'>
                                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/user_icon_copy.png'>
                            </div>
                            <input placeholder='Nouveau mot de passe' type='password' name="password" required autofocus>
                            <div class='validation'>
                                <img src='https://s3-us-west-2.amazonaws.com/s.cdpn.io/217233/tick.png' alt="">
                            </div>
                            </input>
                            <input type="hidden" name="token" value="{{ token }}">
                        </div>
                        <div class='login_fields__submit'>
                            <div>
                                <input type="submit" class="submit">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </main>
{% endblock %} 