{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/style_devis.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock %}
{% block title %}Mon Devis{% endblock %}
{% block body %}
    {% if succes != null %}
        <article>
        <h1>Nous vous avons envoyé le devis par e-mail</h1>
        <p>Si vous n'avez rien reçu d'ici 5 minutes, vérifiez vos spams </p>
        <p>Vous pouvez désormais retourner à l'acceuil ou recommencer une simulation</p>
        <div class="nav-button">
            <div class="nav-button-s">
                <a href="{{ path('accueil') }}" class="nav-a">Accueil</a>
            </div>
            <div class="pos-nav-button nav-button-s">
                <a href="{{ path('devis') }}" class="nav-a">Devis</a>
            </div>
        </div>
        </article>
    {% endif %}
{% endblock %}

