.s1{
    background-image: url("../img/images_accueil/web.jpg");
    background-size: cover;
}

.s2{
    background-image: url("../img/images_accueil/modeledevis.jpg");
    background-size: cover;
}

.s3{
    background-image: url("../img/images_accueil/bureau.jpg");
    background-size: cover;
}

.s4{
    background-image: url("../img/images_accueil/lille.jpg");
    background-size: cover;
}

.s5{
    background-image: url("../img/images_accueil/bureau.jpg");
    background-size: cover;
}

.sli1{
    background-image: url("../img/imgContact/agenda1280.jpg");
    background-size: cover;
}

.sli2{
    background-image: url("../img/imgContact/banner1280.jpg");
    background-size: cover;
}

.sli3{
    background-image: url("../img/imgContact/contact1280.jpg");
    background-size: cover;
}