*{
   margin: auto;
}


.block {
    display: flex;
}

.real {
    width: 90%;
}

.overlay-image {
    position: relative;
    width: 100%;
}
/* Image originale */
.overlay-image .image {
    display: block;
    width: 160px;
    height: 160px;
}
/* Texte original */
.overlay-image .text {
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.overlay-image .text {
    display: none;

}
.overlay-image:hover .text {
    display: block;
}
.hover {
    height: 160px;
    width: 160px;
    position: absolute;
    top: 0;
    left: 16px;
}
.overlay-image:hover .hover {
    background-color: rgba(0, 0, 0, 0.7);
}

