.logo {
    height: 150px;

}

ul {
    list-style-type: none;
}

li {
    padding-right: 20px;

}

nav {
    margin-top: 50px;
    margin-left: 50px;
}
.underline {
    display: inline;
    position: relative;
    overflow: hidden;
}
.underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: -5px;
    background: #12CEE1;
    height: 1px;
    transition-property: left right;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.underline:hover:after,
.underline:focus:after,
.underline:active:after {
    right: 0;
}

.navlink {
    color: whitesmoke;
    font-size: 1.8rem;
}
.navlink:hover {
    text-decoration: none;
    color: #12CEE1;
}

header {
    width: 100%;
    position: fixed;
    height: 50px;
    top: 0;
    z-index: 99;
    margin-top: 5px;
}

.marginauto {
    margin: auto;
    display: flex;
}



