/*---GENERAL---*/

* {
    margin: 0px;
    padding: 0px;
}

#corps {

}


#corps container-fluid {

}

/*---Background---*/

#corps .row article {
    width: 100%;
    height: 90vh;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-image: url(../img/images_accueil/web.jpg);
    background-position: center;
    background-size: cover;

}
#corps .row article:nth-child(2) {
    width: 100%;
    height: 100vh;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-image: url(../img/images_accueil/modeledevis.jpg);
    background-position: center;
    background-size: cover;

}#corps .row article:nth-child(3) {
    width: 100%;
    height: 100vh;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-image: url(../img/images_accueil/assistance.jpg);
    background-position: center;
    background-size: cover;

}#corps .row article:nth-child(4) {
    width: 100%;
    height: 100vh;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-image: url(../img/images_accueil/lille.jpg);
    background-position: center;
    background-size: cover;

}#corps .row article:nth-child(5) {
    width: 100%;
    height: 100vh;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-image: url(../img/images_accueil/bureau.jpg);
    background-position: center;
    background-size: cover;

}


/*---------------Polices----------------- */
@font-face {
    font-family: 'awesome_season_personal_useRg';
    src: url('../polices/awesome_season_personal_use-webfont.woff2') format('woff2'),
    url('../polices/awesome_season_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'la_palomaregular';
    src: url('../polices/la_paloma-webfont.woff2') format('woff2'),
    url('../polices/la_paloma-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mathilderegular';
    src: url('../polices/mathilde-webfont.woff2') format('woff2'),
    url('../polices/mathilde-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mf_really_awesomeregular';
    src: url('../polices/mf_really_awesome-webfont.woff2') format('woff2'),
    url('../polices/mf_really_awesome-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/** ------ article 1 position texte ------  **/
.besoin1{

    text-align: center;
    padding-top: 25px;
    font-family: 'awesome_season_personal_useRg';
    font-size: 3.5rem;
}
.nosequipes{
    text-align: center;
    margin-top: 25px;
    font-family: 'awesome_season_personal_useRg';
    font-size: 2rem;
}

.sommes {
    text-align: center;
    font-family: 'awesome_season_personal_useRg';
    font-size: 1.8rem;
    margin-top: 150px;
    padding-left: 20px;
    padding-right: 20px;
}

#corps img:nth-child(3){
    display: block;
    height: 120px;
    margin: auto;
    margin-top: 100px;
}

/** ------ article 2 position texte / bouton ------  **/

.flex{
    display: flex;
    justify-content: space-between;
}


.besoin2{
    padding-top: 250px;
    padding-left: 50px;
    font-size: 5rem;
    color: white;
}

.dun{
    padding-left: 80px;
    font-size: 4rem;
    color: white;
}

.devis{
    padding-left: 110px;
    font-size: 4rem;
    color: white;
}

.pos-btn {
    text-align: center;
    padding-top: 350px;
    padding-right: 280px;
}

.btn-article{
    background-color: #CB7030;
    border: none;
    color: white;
    margin-top: 50px;
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
}

.btn-article-txt{
    padding-top: 10px;
    font-size: 20px;
}
/** ------ article 3 position texte / bouton ------  **/

.fond-txt-conseil {
    background-color: #7B8515;
    height: 100px;
    width: 100%;
    border-radius:  0px 0px 70px 0px ;
}
.perdu{
    padding-top: 10px;
    padding-left: 15px;
    color: ghostwhite;
    font-size: 1.4rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.nos{
    padding-left: 50px;
    color:ghostwhite;
    font-size: 1.2rem;
}

.flex2{
    display: flex;
    justify-content: space-between;
}

.pos-btn-conseil {
    display: flex;
    text-align: center;
    margin-top: 45vh;

}

.btn-article2{
    background-color: #7B8515;
    border: none;
    color: white;
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
    margin: auto;

}

.btn-article2-txt{

    padding-top: 10px;
    font-size: 20px;
}

/** ------ article 4 position texte / bouton ------  **/

.north{
    color: black;
    padding-top: 100px;
    padding-left: 100px;
    font-size: 2rem;
}

.nous{
    text-align: justify;
    color: black;
    font-size: 1.5rem;
    padding-top: 25px;
    padding-left: 500px;
    margin-right: 400px;
}

.pos-btn2 {
    text-align: center;
    padding-top: 200px;
    padding-right: 200px;
    margin-left: 1200px;
}

/** ------ article 5 position texte / bouton ------  **/

.fond-txt-projet {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 2rem;
    background-color: gray;
    height: 100px;
    width: 20%;
    border-radius:  0px 0px 70px 0px ;
}

.decouvrez{
    font-size: 1.5rem;
}

.rea{
    padding-left: 1rem;
    font-size: 1.5rem;
}

/*------responsive 320px -------------*/

/*------responsive 320px-Article 1 -------------*/


@media (max-width: 760px){
    .besoin1 {

        text-align: center;
        padding-top: 25px;
        font-family: 'awesome_season_personal_useRg';
        font-size: 1.4rem;
    }

    .nosequipes {
        text-align: center;
        margin-top: 25px;
        font-family: 'awesome_season_personal_useRg';
        font-size: 1rem;
    }

    .sommes {
        text-align: center;
        font-family: 'awesome_season_personal_useRg';
        font-size: 1rem;
        margin-top: 150px;
        padding-left: 20px;
        padding-right: 20px;
    }

    #corps img:nth-child(3) {
        display: block;
        height: 100px;
        margin: auto;
        margin-top: 100px;
    }


/*------responsive 320px-Article 2 -------------*/

.flex{
    display: flex;
}

.besoin2{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 2rem;
    color: white;
}

.dun{
    padding-left: 100px;
    font-size: 1.5rem;
    color: white;
}

.devis{
    padding-left: 150px;
    font-size: 2rem;
    color: white;
}

.pos-btn {
    text-align: center;
    padding-bottom: 500px;

}

.btn-article{
    background-color: #CB7030;
    border: none;
    color: white;
    padding: 0px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
    margin-right: 0;
}

.btn-article-txt{
    padding-top: 10px;
    font-size: 10px;

}
}