* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;

}

h1 {
	margin-top: 10%;
	font-size: 2rem;
	color: #FFFFFF;
}

#debut p, h1 {
	color: #FFFFFF;
}

.q-global {
	text-align: center;
	margin-top: 75px;
}

output {
	margin-left: 10px;
}

article {
	font-family: 'Raleway', sans-serif;
    height: 100vh;
	text-align: center;
	background-color: slategray;

}

.black {
	color: black;
	padding-right: 15px;
	padding-top: 9px;
	font-size: 1.2rem;
}

.Q {
	display: flex;
	margin-top: 85px;
	padding-left: 42%;
}

.p-t {
	padding-top: 6px;
	padding-left: 15px;
	font-size: 1.4rem;
}

.btn-ready {
	 background-color: #8A5633;
	 border: none;
	 color: white;
	 padding: 15px 32px;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 16px;
	 cursor: pointer;
	 border-radius: 35px;
	 margin-top: 60px;
 }

.btn-estim {
	background-color: #428BCA;
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 35px;
	margin-top: 20px;
	margin-left: 30px;

}

.btn-ready:hover {
	background-color: #AE7D4A;
}

.txt-purple {
	color: #428BCA;
}

.casecontexte {
	background-color: gainsboro;
	height: 130px;
	width: 200px;
	margin-left: 50px;
	text-align: center;
	margin-top: 25px;
	border: none;
}

.casecontexte-sm {
	background-color: gainsboro;
	height: 130px;
	width: 150px;
	margin-left: 45px;
	text-align: center;
	margin-top: 25px;
	border: none;
}

.y-n {
	width: 50px;
	height: 30px;
	background-color: gainsboro;
	border: none;
}

.btn-prestataire {
	width: 90px;
	height: 30px;
	background-color: gainsboro;
	border: none;
}

.padd-t {
	padding-top: 5px;
}

.m-l {
	margin-left: 15px;
}

.caseimg {
	height: 75px;
	width: 75px;
}

.avancement {
	background-color: gainsboro;
	position: -webkit-sticky;
	position: sticky;
	top: 15px;
	height: 415px;
	margin: 15px;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
}

.submit {
	width: 75px;
	height: 25px;
	border-radius: 35px;
	background-color: #4C7FA8;
	color: #FFFFFF;
	border: none;
	margin-top: 10px;
	margin-left: 100px;
}

.margin-top {
	margin-top: 15px;
}

.margin-left-slider {
	margin-left: 137px;
}

.margin-left-slider2 {
	margin-left: 136px;
}

.margin-left-slider1 {
	 margin-left: 158px;
 }

.margin-block-txt {
	margin-left: 132px;
}

.margin-slider-txt {
	margin-left: 89px;
}

.margin-slider-txt2 {
	margin-left: 72px;
}



.devis {
	position: sticky;
}

.topaside {
	width: 100%;
	background-color: #428BCA;
	color: white;
	height: 35px;
	border-radius: 3px 3px 0px 0px;
}

.aside-txt {
	padding-top: 4px;
	padding-left: 6px;
}

.asideH {
	padding-top: 7px;
	text-align: center;
}

.asidecontent {
	margin-left: 20px;
}

.flex {
	display: flex;
}
.col-1 {
	flex-basis: calc(100% / 12);
	max-width: calc(100% / 12);
}

.col-2 {
	flex-basis: calc(100% * 2 / 12);
	max-width: calc(100% * 2 / 12);
}

.col-3 {
	flex-basis: calc(100% * 3 / 12);
	max-width: calc(100% * 3 / 12);
}

.col-4 {
	flex-basis: calc(100% * 4 / 12);
	max-width: calc(100% * 4 / 12);
}

.col-5 {
	flex-basis: calc(100% * 5 / 12);
	max-width: calc(100% * 5 / 12);
}

.col-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.col-7 {
	flex-basis: calc(100% * 7 / 12);
	max-width: calc(100% * 7 / 12);
}

.col-8 {
	flex-basis: calc(100% * 8 / 12);
	max-width: calc(100% * 8 / 12);
}

.col-9 {
	flex-basis: calc(100% * 9 / 12);
	max-width: calc(100% * 9 / 12);
}

.col-10 {
	flex-basis: calc(100% * 10 / 12);
	max-width: calc(100% * 10 / 12);
}

.col-11 {
	flex-basis: calc(100% * 11 / 12);
	max-width: calc(100% * 11 / 12);
}

.col-12 {
	flex-basis: 100%;
	max-width: 100%;
}

/* -------------- SLIDER NIVEAU DE GRAPHISME --------------*/

.slider-block {
	margin-left: 150px;
	margin-top: 25px;
}

input[type=range] {
	-webkit-appearance: none;
	width: 300px;
	margin: 13.2px 0;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #428bca, 0px 0px 1px #5697d0;
	background: #ffffff;
	border-radius: 1.3px;
	border: 0.3px solid #428bca;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #428bca, 0px 0px 1px #5697d0;
	border: 1px solid #428bca;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #428bca;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #428bca, 0px 0px 1px #5697d0;
	background: #ffffff;
	border-radius: 1.3px;
	border: 0.2px solid #428bca;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #428bca, 0px 0px 1px #5697d0;
	border: 1px solid #428bca;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #428bca;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 8.4px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #fcfcfc;
	border: 0.2px solid #428bca;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #428bca, 0px 0px 1px #5697d0;
}
input[type=range]::-ms-fill-upper {
	background: #ffffff;
	border: 0.2px solid #428bca;
	border-radius: 2.6px;
	box-shadow: 1px 1px 1px #428bca, 0px 0px 1px #5697d0;
}
input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #428bca, 0px 0px 1px #5697d0;
	border: 1px solid #428bca;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #428bca;
	cursor: pointer;
	height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
	background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
	background: #ffffff;
}
/*-------------------------------------------------------------------*/

/* -------------- SLIDER nombre de langue --------------*/

/* Formulaire de demande de devis */

.form-fields {
	margin-top: 10px;
	width: 300px;
	height: 50px;
	font-size: 1.4rem;
	padding-left: 10px;
	border: solid black 1px;
	border-radius: 3px;
}

.form {
	margin-left: 135px;
}

.squaredTwo {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px #428bca;
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px #428bca;
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px #428bca;
	position: relative;
}

.squaredTwo label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.squaredTwo label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 4px;
	left: 4px;
	border: 3px solid #fcfff4;
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.squaredTwo label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.squaredTwo input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}