* { 
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0px; 
    padding: 0px;
}  

.filtre-background {
    background: rgba(0, 0, 0, 0.86);
    height: 100vh;
    width: 100%;
}
.banniere {
    background: url(../img/imgContact/office.jpg);
    background-size: cover;
    height: 100%;
    width: 100%;  
    text-align: center;
    font-size: 2.5rem;
    color: white;
}
.pt15 {
    padding-top: 15%;
}
.pt10 {
    padding-top: 10%;
}
.bannierebleu {
    background: url(../img/imgContact/geometric.jpg);
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.boutonbleu {
    border-radius: 10px;
    padding: 10px;
    background-color: #263974;
    border: none;
    color: white;
    margin-top: 25px;
}
.boutonbleu:hover {
    background-color: #272264;
}
.tel {
    font-family: 'Times New Roman', Times, serif;
}
.taillechamp {
	margin-top: 20px;
	width: 300px;
	height: 50px;
	font-size: 1.4rem;
	padding-left: 10px;
	border: solid black 1px;
	border-radius: 3px;
}
.message {
    width: 604px;
    height: 200px;
    font-size: 1.4rem;
	padding-left: 10px;
	border: solid black 1px;
    border-radius: 3px;
    margin-top: 25px;
}
.margetitre {
    font-size: 2.2rem;
}
.banniereagenda {
    background: url(../img/imgContact/agenda.jpg);
    background-size: cover;
    text-align: center;
    color: white;
    height: 100%;
    width: 100%;
}

