/*---GENERAL---*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
@viewport {
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
}
.flex{
    display: flex;
    justify-content: space-between;
}
/*------- Background -------*/
.s1 {
    background-image: url(../img/images_accueil/webtest.jpg);
    background-size: cover;
}
.s2 {
    background-image: url(../img/images_accueil/assisatancetest2.jpg);
    background-size: cover;
}
.s3 {
    background-image: url(../img/images_accueil/devistest3.jpg);
    background-size: cover;
}
.s4 {
    background-image: url(../img/images_accueil/sunset.jpg);
    background-size: cover;
}
.s5 {
    background-image: url(../img/images_accueil/dark-2024127.svg);
    background-size: cover;
}
/** ------ Article 1 txt + Scroll ------  **/
.besoin1{
    text-align: center;
    font-size: 3.5rem;
    color: whitesmoke;
}
.nosequipes{
    text-align: center;
    margin-top: 25px;
    font-size: 2rem;
    color: whitesmoke;
}
.sommes {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 45px;
    color: whitesmoke;
}
.scroll{
    display: block;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.demo a {
    position: absolute;
    bottom: 20px;
    left: 48%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.demo a:hover {
    opacity: .5;
}
#scroll a {
    padding-top: 60px;
    color: #FFFFFF;
}
#scroll a span {
    position: absolute;
    top: 0;
    left: 48%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
#scroll a span::before {
    position: absolute;
    top: 10px;
    left: 48%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
/** ------ Article 2 position texte / bouton ------  **/
.north {
    color: whitesmoke;
    padding-top: 80px;
    padding-left: 100px;
    font-size: 2rem;
}
.nous {
    text-align: justify;
    color: whitesmoke;
    font-size: 1.5rem;
    padding-top: 25px;
    width: 50%;
    margin-top: 235px;
    margin-left: 250px;
}
.pos-btn {
    margin-right: 215px;
    padding-top: 265px;
}

.btn-article{
    background-color: #CC470D;
    border: none;
    color: white;
    margin-top: 5px;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
}
.btn-article:hover {
    color: whitesmoke;
    text-decoration: none;
    background-color: #CC0A00;
}
.btn-article-txt {
    padding-top: 10px;
    font-size: 20px;
}
/** ------ Article 3 position texte / bouton ------  **/
.besoin2{
    padding-top: 75px;
    font-size: 5rem;
    color: white;
    text-align: center;
}
.simulateur{
     margin-left: auto;
     margin-right: auto;
     color: whitesmoke;
     width: 920px;
     padding-top: 25px;
     font-size: 1.6rem;
     margin-bottom: 0;
 }
.pos-btn2 {
    display: flex;
    margin-top: 25px;
}
.btn-article2{
     background-color: #0A2174;
     border: none;
     color: white;
     margin-top: 5px;
     padding: 0 30px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     cursor: pointer;
     border-radius: 35px;
 }
.btn-article2:hover{
    color: whitesmoke;
    text-decoration: none;
    background-color: dodgerblue;
}
.btn-article2-txt {
    padding-top: 10px;
    font-size: 20px;
}
/** ------ Article 4 position texte / bouton ------  **/
.decouvrez{
    font-size: 3rem;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 330px;
}

.rea{
    padding-left: 1rem;
    font-size: 1.8rem;
    color: whitesmoke;
    margin-left: 390px;
}
.block {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 70%;
}
.real {
    width: 50%;
    height: 130px;
}
.lien {
    position: absolute;
    top: 0;
    left: 0;
    width: 160px;
    height: 160px;
}
.overlay-image {
    margin: auto;
    position: relative;
    width: 160px;
    height: 160px;
}
.mt5 {
    margin-top: 5%;
}
/* Image originale */
.overlay-image .image {
    display: block;
    width: 160px;
    height: 160px;
}
/* Texte original */
.overlay-image .text {
    color: #fff;
    font-size: 30px;
    line-height: 1.5em;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.overlay-image .text {
    display: none;

}
.overlay-image:hover .text {
    display: block;
}
.hover {
    height: 160px;
    width: 160px;
    position: absolute;
    top: 0;
    left: 0;
}
.overlay-image:hover .hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.zoom div img, .zoom div .hover {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.zoom div:hover img, .zoom div:hover  .hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
/** ------ article 5 position texte / bouton ------  **/
.perdu{
    padding-top: 10px;
    text-align: center;
    color: ghostwhite;
    font-size: 2.4rem;
    font-weight: bold;
}
.nos{
    text-align: center;
    color: ghostwhite;
    font-size: 2.1rem;

}

.flex2{
    display: flex;
    justify-content: space-between;
}

.pos-btn-conseil {
    display: flex;
    text-align: center;
    margin-top: 25vh;
}

.btn-article2{
    background-color: #0A2174;
    border: none;
    color: white;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
    margin: auto;
}
.btn-article2:hover{
    color: white;
    text-decoration: none;
    background-color: dodgerblue;
}

@media (min-width: 1024px) and (max-width: 1440px) {
    /* ---- Article1 1023-1440px ---- */
    .besoin1 {
        font-size: 1.9rem;
    }
    .nosequipes{
        font-size: 1.7rem;
    }
    .sommes {
        font-size: 1.7rem;
        margin: auto;
        width: 80%;
    }
    /* ---- Article2 1023-1440px ----*/
    .north {
        font-size: 1.9rem;
    }
    .nous {
        font-size: 1.4rem;
        padding-top: 25px;
        width: 50%;
        margin-top: 135px;
        margin-left: 150px;
    }
    .pos-btn {
        margin-right: 135px;
        padding-top: 200px;
    }
    /* ---- Article3 1023-1440px ---- */
    .besoin2{
        font-size: 4rem;
    }
    .simulateur{
        font-size: 1.3rem;
        text-align: center;
    }
    .pos-btn2 {
        margin-top: 50px;
    }
    /* ---- Article4 1023-1440px ---- */
    .decouvrez{
        font-size: 2rem;
        margin-left: 225px;
    }
    .rea{
        padding-left: 1rem;
        font-size: 1.2rem;
        color: whitesmoke;
        margin-left: 250px;
    }
    .lien{
        width: 130px;
        height: 130px;
    }
    .overlay-image {
        width: 130px;
        height: 130px;
    }
    .overlay-image .image {
        width: 130px;
        height: 130px;
    }
    .hover {
        width: 130px;
        height: 130px;
    }
    .overlay-image .text {
        font-size: 25px;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {
    /* ---- Article1 768-1023px ---- */
    .besoin1 {
        font-size: 1.8rem;
    }
    .nosequipes{
        font-size: 1.5rem;
    }
    .sommes {
        font-size: 1.5rem;
        margin: auto;
        width: 80%;
    }
    /* ---- Article2 768-1023px ----*/
    .north{
        font-size: 1.9rem;
    }
    .nous{
        font-size: 1.4rem;
        padding-top: 25px;
        width: 50%;
        margin-top: 145px;
        margin-left: 125px;
    }
    .pos-btn{
        margin-right: 135px;
        padding-top: 180px;
    }
    /* ---- Article3 768-1023px ---- */
    .besoin2{
        font-size: 4rem;
    }
    .simulateur{
        font-size: 1.3rem;
        text-align: center;
    }
    .pos-btn2 {
        margin-top: 50px;
    }
    /* ---- Article4 768-1023px ---- */
    .decouvrez{
        font-size: 2rem;
        margin-left: 125px;

    }
    .rea{
        padding-left: 1rem;
        font-size: 1.2rem;
        color: whitesmoke;
        margin-left: 175px;
    }
    .overlay-image .image {
        width: 130px;
        height: 130px;
    }
    .hover {
        width: 130px;
        height: 130px;
    }
    .overlay-image .text {
        font-size: 25px;
    }
    .real{
        width: 600px;
        height: 130px;
    }
}
@media screen and (min-width: 425px) and (max-width: 767px) {
    /* ---- Article1 425-767px ---- */
    .besoin1 {
        font-size: 1.2rem;
    }
    .nosequipes{
        font-size: 1rem;
        margin: auto;
        width: 80%;
    }
    .sommes {
        font-size: 1rem;
        margin: auto;
        width: 80%;
    }
    /* ---- Article2 425-767px ---- */
    .north{
        font-size: 1.2rem;
    }
    .nous{
        margin: auto;
        font-size: 1.1rem;
        padding-top: 25px;
    }
    .pos-btn{
        margin: 0;
        text-align: center;
        padding-top: 75px;
    }
    .flex{
        display: block;
    }
    /* ---- Article3 425-767px ---- */
    .besoin2{
        font-size: 1.8rem;
    }
    .simulateur{
        width: 80%;
        font-size: 1.2rem;
    }
    /* ---- Article4 425-767px ---- */
    .decouvrez{
        font-size: 1.8rem;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .rea{
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .overlay-image .image {
        margin-top: 10px;
        width: 100px;
        height: 100px;
    }
    .hover {
        width: 100px;
        height: 100px;
    }
    .overlay-image .text {
        font-size: 21px;
    }
    .real{
        width: 400px;
        height: 130px;
    }
    /* ---- Article5 425-767px ---- */
    .perdu {
        font-size: 1.2rem;
    }
    .nos {
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 424px) {
    /* ---- Article1 425-767px ---- */
    .besoin1 {
        font-size: 1.2rem;
    }
    .nosequipes{
        font-size: 1rem;
        margin: auto;
        width: 80%;
    }
    .sommes {
        font-size: 1rem;
        margin: auto;
        width: 80%;
    }
    /* ---- Article2 425-767px ---- */
    .north{
        font-size: 1.2rem;
        text-align: center;
        padding: 0;
    }
    .nous{
        margin: auto;
        font-size: 1.1rem;
        padding-top: 25px;
    }
    .pos-btn{
        margin: 0;
        text-align: center;
        padding-top: 75px;
    }
    .flex{
        display: block;
    }
    /* ---- Article3 425-767px ---- */
    .besoin2{
        font-size: 1.8rem;
    }
    .simulateur{
        width: 80%;
        font-size: 1.2rem;
    }
    /* ---- Article4 425-767px ---- */
    .decouvrez{
        font-size: 1.8rem;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .rea{
        font-size: 1.2rem;
        text-align: center;
        margin: 0;
        padding: 0;
    }
    .overlay-image .image {
        margin-top: 10px;
        width: 80px;
        height: 80px;
    }
    .hover {
        width: 80px;
        height: 80px;
    }
    .overlay-image .text {
        font-size: 21px;
    }
    .real{
        width: 300px;
        height: 130px;
    }
    /* ---- Article5 425-767px ---- */
    .perdu {
        font-size: 1.2rem;
    }
    .nos {
        font-size: 1.1rem;
    }
   .flex2 {
       display: block;
   }
   .qmt5 {
       margin-top: 5%;
   }
}
