* { 
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0px; 
    padding: 0px;
}  
.filtre-background {
    background: rgba(0, 0, 0, 0.86);
}
.article1__banniere {
    background: url(../img/imgContact/office.jpg);
    background-size: cover; 
    text-align: center;
    font-size: 2.5rem;
    color: white;
}
.article2__banniere {
    background: url(../img/imgContact/geometric.jpg);
    text-align: center;
    color: white;
    font-size: 1.5rem;
}
.article2__title {
    font-size: 2.2rem;
}
.formfields {
	margin-top: 20px;
	width: 300px;
	height: 50px;
	font-size: 1.4rem;
	padding-left: 10px;
	border: solid black 1px;
    border-radius: 3px;
}
.formfields__police {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.formfields__message {
    width: 604px;
    height: 200px;
    font-size: 1.4rem;
	padding-left: 10px;
	border: solid black 1px;
    border-radius: 3px;
    margin-top: 25px;
}
.article3__banniere {
    background: url(../img/imgContact/globe.jpg);
    background-size: cover;
}
.btn-blue {
    border-radius: 10px;
    padding: 10px;
    background-color: #263974;
    border: none;
    color: white;
    margin-top: 15px;
}
.btn-blue:hover {
    background-color: #272264;
}
.warning {
    color: tomato;
    font-size: 1rem;
    margin-top: 5px;
}
.article3__banniere {
    color: white;
    font-size: 2.2rem;
    text-align: center;
}
.article3__card  {
    margin-top: 25px;
}


/* ---- Generic Classes ---- */
.pt15 {
    padding-top: 15%;
}
.pt10 {
    padding-top: 10%;
}
.maxsize {
    height: 100%;
    width: 100%;  
}

