* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.section-devis {
	margin-left: 30px;
}

.container {


}

.txt-r {
	text-align: right;
}

h1 {
	padding-right: 65px;
	padding-top: 45px;
	font-size: 1.6rem;
}

.p-banner {
	padding-right: 55px;
	padding-top: 25px;
	font-size: 1.4rem;


}
.bannerstart {
	background-image: url('../img/logodevis/geek.jpg');
	height: 100vh;
	background-size: cover;
	color: white;
}

.circle {
	border-radius: 25px;
	background-color: white;
	width: 40px;
	height: 40px;
}

.q-global {
	text-align: center;
}

article {
	font-family: 'Roboto', sans-serif;
	margin-top: 70px;
}

.black {
	color: black;
	padding-right: 15px;
	padding-top: 9px;
	font-size: 1.2rem;
}

.Q {
	display: flex;
	margin-top: 85px;
	padding-left: 42%;
}

.p-t {
	padding-top: 6px;
	padding-left: 15px;
	font-size: 1.4rem;
}

.btn-ready {
	 background-color: #8A5633;
	 border: none;
	 color: white;
	 padding: 15px 32px;
	 text-align: center;
	 text-decoration: none;
	 display: inline-block;
	 font-size: 16px;
	 cursor: pointer;
	 border-radius: 35px;
	 margin-top: 60px;
	 margin-left: 275px;
 }

.btn-estim {
	background-color: #4F298D;
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border-radius: 35px;
	margin-top: 20px;
	margin-left: 45px;

}

.btn-ready:hover {
	background-color: #AE7D4A;
}

.txt-purple {
	color: #4F298D;
}

.casecontexte {
	background-color: gainsboro;
	height: 130px;
	width: 200px;
	margin-left: 75px;
	text-align: center;
	margin-top: 25px;
	border: none;
}


.casecontexte:focus {
	border: #4F298D solid 1px;
}

.y-n {
	width: 50px;
	height: 30px;
}

.padd-t {
	padding-top: 5px;
}

.m-l {
	margin-left: 15px;
}

.caseimg {
	height: 75px;
	width: 75px;
}

.avancement {
	background-color: gainsboro;
	position: -webkit-sticky;
	position: sticky;
	top: 15px;
	height: 400px;
	margin: 15px;
	border-radius: 3px;
	font-family: 'Roboto', sans-serif;
}

.margin-top {
	margin-top: 15px;
}

.margin-left-slider {
	margin-left: 137px;
}

.margin-left-slider2 {
	margin-left: 136px;
}

.margin-left-slider1 {
	 margin-left: 158px;
 }

.margin-block-txt {
	margin-left: 132px;
}

.margin-slider-txt {
	margin-left: 89px;
}

.margin-slider-txt2 {
	margin-left: 72px;
}



.devis {
	position: sticky;
}

.topaside {
	width: 100%;
	background-color: #4F298D;
	color: white;
	height: 35px;
	border-radius: 3px 3px 0px 0px;
}

.aside-txt {
	padding-top: 4px;
	padding-left: 6px;
}

.asideH {
	padding-top: 7px;
	text-align: center;
}

.asidecontent {
	margin-left: 20px;
}

.flex {
	display: flex;
}
.col-1 {
	flex-basis: calc(100% / 12);
	max-width: calc(100% / 12);
}

.col-2 {
	flex-basis: calc(100% * 2 / 12);
	max-width: calc(100% * 2 / 12);
}

.col-3 {
	flex-basis: calc(100% * 3 / 12);
	max-width: calc(100% * 3 / 12);
}

.col-4 {
	flex-basis: calc(100% * 4 / 12);
	max-width: calc(100% * 4 / 12);
}

.col-5 {
	flex-basis: calc(100% * 5 / 12);
	max-width: calc(100% * 5 / 12);
}

.col-6 {
	flex-basis: 50%;
	max-width: 50%;
}

.col-7 {
	flex-basis: calc(100% * 7 / 12);
	max-width: calc(100% * 7 / 12);
}

.col-8 {
	flex-basis: calc(100% * 8 / 12);
	max-width: calc(100% * 8 / 12);
}

.col-9 {
	flex-basis: calc(100% * 9 / 12);
	max-width: calc(100% * 9 / 12);
}

.col-10 {
	flex-basis: calc(100% * 10 / 12);
	max-width: calc(100% * 10 / 12);
}

.col-11 {
	flex-basis: calc(100% * 11 / 12);
	max-width: calc(100% * 11 / 12);
}

.col-12 {
	flex-basis: 100%;
	max-width: 100%;
}

.slider-block {
	margin-left: 150px;
	margin-top: 25px;
}

input[type=range] {
	-webkit-appearance: none;
	width: 300px;
	margin: 13.2px 0;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 12.6px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #4f298d, 0px 0px 1px #5a2fa1;
	background: #ffffff;
	border-radius: 6.2px;
	border: 0.7px solid #4f298d;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 1px 1px 1px #4f298d, 0px 0px 1px #5a2fa1;
	border: 2.2px solid #4f298d;
	height: 39px;
	width: 19px;
	border-radius: 2px;
	background: #4f298d;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -13.9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #ffffff;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 12.6px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #4f298d, 0px 0px 1px #5a2fa1;
	background: #ffffff;
	border-radius: 6.2px;
	border: 0.7px solid #4f298d;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 1px 1px 1px #4f298d, 0px 0px 1px #5a2fa1;
	border: 2.2px solid #4f298d;
	height: 39px;
	width: 19px;
	border-radius: 2px;
	background: #4f298d;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 12.6px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #fcfcfc;
	border: 0.7px solid #4f298d;
	border-radius: 12.4px;
	box-shadow: 1px 1px 1px #4f298d, 0px 0px 1px #5a2fa1;
}
input[type=range]::-ms-fill-upper {
	background: #ffffff;
	border: 0.7px solid #4f298d;
	border-radius: 12.4px;
	box-shadow: 1px 1px 1px #4f298d, 0px 0px 1px #5a2fa1;
}
input[type=range]::-ms-thumb {
	box-shadow: 1px 1px 1px #4f298d, 0px 0px 1px #5a2fa1;
	border: 2.2px solid #4f298d;
	height: 39px;
	width: 19px;
	border-radius: 2px;
	background: #4f298d;
	cursor: pointer;
	height: 12.6px;
}
input[type=range]:focus::-ms-fill-lower {
	background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
	background: #ffffff;
}

.form-fields {
	margin-top: 10px;
	width: 300px;
	height: 50px;
	font-size: 1.4rem;
	padding-left: 10px;
	border: solid black 1px;
	border-radius: 3px;
}

.form {
	margin-left: 135px;
}

