*{
   margin: auto;
}

.titre{
    color: white;
    font-size: 5rem;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.image {
    width: 150px;
    height: 150px;

}
.zoom img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.zoom img:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.zoom span{
    visibility: hidden;
}

.zoom span:hover{
    visibility: visible;
}
.bg{
    background-image: url(../img/images_projet/bgpj.jpg);
    background-position: center;
    background-size: cover;
}
.block {
    display: flex;

}

.size {
    width: 250px;
    height: 250px;
}