/*---GENERAL---*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
.demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
    letter-spacing: .1em;
    text-decoration: none;
    transition: opacity .3s;
}
.demo a:hover {
    opacity: .5;
}

#scroll a {
    padding-top: 60px;
}
#scroll a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}
#scroll a span::before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}
@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*---Background---*/

.s1 {
    background-image: url(../img/images_accueil/webtest.jpg);
    background-size: cover;
}
.s2 {
    background-image: url(../img/images_accueil/assisatancetest2.jpg);
    background-size: cover;
}
.s3 {
    background-image: url(../img/images_accueil/devistest3.jpg);
    background-size: cover;
}
.s4 {
    background-image: url(../img/images_accueil/sunset.jpg);
    background-size: cover;
}
.s5 {
    background-image: url(../img/images_accueil/dark-2024127.svg);
    background-size: cover;
}

/** ------ article 1 position texte ------  **/
.besoin1{
    text-align: center;
    padding-top: 140px;
    font-size: 3.5rem;
    color: whitesmoke;
}
.nosequipes{
    text-align: center;
    margin-top: 25px;
    font-size: 2rem;
    color: whitesmoke;
}
.sommes {
    text-align: center;
    font-size: 1.8rem;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    color: whitesmoke;
}
.scroll{
    display: block;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.anim {
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
/** ------ article 2 position texte / bouton ------  **/
.flex{
    display: flex;
    justify-content: space-between;
}
.besoin2{
    padding-top: 75px;
    font-size: 5rem;
    color: white;
    text-align: center;

}
.simulateur{
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
    width: 920px;
    padding-top: 25px;
    font-size: 1.6rem;
    margin-bottom: 0;
}
.pos-btn {
    text-align: center;
    margin: auto;
    padding-top: 25px;
}
.btn-article{
    background-color: #0A2174;
    border: none;
    color: white;
    margin-top: 5px;
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
}
.btn-article:hover{
    color: whitesmoke;
    text-decoration: none;
    background-color: dodgerblue;
}
.btn-article-txt{
    padding-top: 10px;
    font-size: 20px;
}
/** ------ article 3 position texte / bouton ------  **/

.perdu{
    padding-top: 10px;
    text-align: center;
    color: ghostwhite;
    font-size: 2.4rem;
    font-weight: bold;
}
.nos{
    text-align: center;
    padding-right: 50px;
    color: ghostwhite;
    font-size: 2.1rem;

}
.flex2{
    display: flex;
    justify-content: space-between;
}
.pos-btn-conseil {
    display: flex;
    text-align: center;
    margin-top: 25vh;
}
.btn-article2{
    background-color: #FE6E00;
    border: none;
    color: white;
    padding: 0px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
    margin: auto;
}
.btn-article2:hover{
    color: white;
    text-decoration: none;
    background-color: #CC0A00;
}
.btn-article2-txt{
    padding-top: 10px;
    font-size: 20px;
}
/** ------ article 4 position texte / bouton ------  **/
.north{
    color: whitesmoke;
    padding-top: 80px;
    padding-left: 100px;
    font-size: 2rem;
}
.nous{
    text-align: justify;
    color: whitesmoke;
    font-size: 1.5rem;
    padding-top: 25px;
    width: 50%;
    margin-top: 235px;
    margin-left: 250px;
}
.pos-btn1 {
    margin-right: 215px;
    padding-top: 265px;
}
/** ------ article 5 position texte / bouton ------  **/

.decouvrez{
    font-size: 3rem;
    color: whitesmoke;
    font-weight: bold;
    margin-left: 125px;
    margin-top: -200px;
}

.rea{
    padding-left: 1rem;
    font-size: 1.8rem;
    color: whitesmoke;
    margin-left: 175px;
}

.pos-btn2 {
    display: flex;
    margin-top: 0;
}

.btn-article3 {
    background-color: #CC470D;
    border: none;
    color: white;
    padding: 0 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 35px;
    margin: auto;
}

.btn-article3:hover{
    color: whitesmoke;
    text-decoration: none;
    background-color: #E97D19;
}

/*------responsive 320px -------------*/
/*------responsive 320px-Article 1 -------------*/
@media  (max-width: 768px) {
.besoin1 {
    padding-top: 25px;
    font-size: 1.4rem;
}
.nosequipes {
    margin-top: 25px;
    font-size: 1rem;
}
.sommes {
    font-size: 1rem;
    margin-top: 150px;
}
#corps img:nth-child(3) {
    height: 100px;
    margin-top: 100px;
}
/*------responsive 320px-Article 2 -------------*/
.flex{
    display: flex;
    flex-direction: column;
}
.besoin2{
    padding-top: 50px;
    padding-left: 50px;
    font-size: 2rem;
}
.dun{
    padding-left: 100px;
    font-size: 1.5rem;
}
.devis{
    padding-left: 150px;
    font-size: 2rem;
}
.pos-btn {
    padding-right: 0;
    padding-top: 0;
    margin-top: 200px;
}
/*------responsive 320px-Article 3 -------------*/
.fond-txt-conseil {
    height: 100px;

}
.perdu{
    font-size: 1.8rem;
}
.nos{
    padding-left: 10px;
    font-size: 1.7rem;
}
.btn-article2-txt{
    font-size: 13px;
}
/*------responsive 320px-Article 4 -------------*/
.north{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 1rem;
}
.nous{
    font-size: 1rem;
    padding-top: 15px;
    padding-left: 20px;
    margin-right: 30px;
}
.pos-btn2 {
    padding-top: 200px;
    padding-right: 20px;
    margin-left: 15px;
}
/*------responsive 320px-Article 5 -------------*/
.fond-txt-projet {
    width: 100%;
}
/*------responsive de 768px à 1280px -------------*/
/*------responsive 768px à 1280px-Article 1 -------------*/
@media (min-width: 768px) and (max-width: 1280px) {
.besoin1 {
    font-size: 2rem;
}
.nosequipes {
    font-size: 1.8rem;
}
.sommes {
    font-size: 1.5rem;
}
/*------responsive 768px à 1280px-Article 2 -------------*/
.besoin2{
    font-size: 4rem;
}
.dun{
    padding-left: 100px;
    font-size: 3rem;
}
.devis{
    padding-left: 150px;
    font-size: 3rem;
}
/*------responsive 768px à 1280px-Article 3 -------------*/
.fond-txt-conseil {
    height: 100px;
}
.perdu{
    font-size: 1rem;
}
.nos{
    padding-left: 10px;
    font-size: 0.9rem;
}
.btn-article2-txt{
    font-size: 13px;
}
/*------responsive 768px à 1280px-Article 4 -------------*/
.north{
    padding-top: 30px;
    padding-left: 10px;
    font-size: 1rem;
}
.nous{
    font-size: 1rem;
    padding-top: 15px;
    padding-left: 20px;
    margin-right: 30px;
}
.pos-btn2 {
    padding-top: 200px;
    padding-right: 20px;
    margin-left: 15px;
}
/*------responsive 768px à 1280px-Article 5 -------------*/
.fond-txt-projet {
    width: 33%;
}
