{% extends 'base.html.twig' %}

{% block title %}Espace Client{% endblock %}
   {% block stylesheets %}
       <link rel="stylesheet" href="{{ asset('css/espace_client.css') }}">
   {% endblock %}
{% block body %}
<main>
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 d-flex">
                <h1>Mes Devis</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <table class="table table-striped table-dark">
                    <thead>
                        <th>ID</th>

<main>
    <section class="container">
        <h1>Espace Client</h1>
        <h2>Bonjour, Mr. {{ user.lastname }}</h2>
        <p class="m-t10 txt-index">Que souhaiter vous faire ?</p>
        <div class="d-flex">
            <div class="col-sm-12 col-md-12 col-lg-12 d-flex">
                <ul class="d-flex list-index m-a">
                    <li><a href="{{ path('espace_client_devis') }}" class="btn-index"><span class="transform">Consulter mes devis</span></a></li>
                    <li><a href="{{ path('espace_client_devisdetail') }}" class="btn-index"><span class="transform">Modifier mes informations</span></a></li>
                </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}
