{% extends 'base.html.twig' %}

{% block title %}Hello EspaceClientController!{% endblock %}

{% block body %}

    <style>
        body {
            background-color: #1f222e;
        }
    </style>
<main>
    <aside>
        <ul>
            <li><a href="">Consulter les devis</a></li>
        </ul>
    </aside>
</main>
{% endblock %}
