{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset ('css/style_accueil.css') }}">
{% endblock  %}

{% block body %}

    <body>
    <section id="corps">
        <div class="container-fluid">
            <div class="row">
                    <article>
                        <p class="besoin1">Besoin de visibilité sur le web ?</p>

                        <p class="nosequipes">Nos équipes sont là pour forger votre identité graphique</p>

                        <img src="{{ asset ('img/images_accueil/mouse-scroll-500.png') }}"/>

                        <p class="sommes"> Nous sommes capables de répondre à tout vos types de projets
                            du site vitrine au site ecommerce</p>
                    </article>
                    <article >
                        <div class="flex">
                            <div>
                                <p class="besoin2">BESOIN</p>

                                <p class="dun">d'un</p>

                                <p class="devis">devis?</p>
                            </div>
                            <div class="pos-btn">
                                <a href="#" class="btn-article">
                                    <p class="btn-article-txt">C'est parti !</p>
                                </a>
                            </div>
                        </div>
                    </article>
                    <article>
                        <div class="fond-txt-conseil">
                            <p class="perdu">
                                Perdu à travers toutes nos offres ?
                            </p>
                            <p class="nos">
                                Nos conseillers sont là pour défénir vos besoins !
                            </p>
                        </div>
                        <div class="flex2 pos-btn-conseil">
                            <a href="#" class="btn-article2">
                                <p class="btn-article2-txt">Je prend RDV !</p>
                            </a>
                            <a href="#" class="btn-article2">
                                <p class="btn-article2-txt">Nous appeller !</p>
                            </a>
                        </div>
                    </article>
                    <article>
                    <p class="north">
                        North web en quelques lignes
                    </p>
                    <p class="nous">
                        Nous adorons faire de belles choses.
                        <br>
                        Notre but est de vous fournir tout ce dont vous avez besoin pour une communication digitale réussie.
                    </p>
                    <div class="pos-btn2 bt1">
                        <a href="#" class="btn-article">
                            <p class="btn-article2-txt">En savoir +</p>
                        </a>
                    </div>
                  </article>
                  <article>
                    <div class="fond-txt-projet">
                        <p class="decouvrez">
                            Découvrez
                        </p>
                        <p class="rea">
                            Nos réalisations !
                        </p>
                    </div>
                    <div class="pos-btn2 ">
                        <a href="#" class="btn-article">
                            <p class="btn-article2-txt">En savoir +</p>
                        </a>
                    </div>
                </article>
            </div>
        </div>
    </section>
    </body>
{% endblock %}
