{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style_contact.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('javascript/fullPageJs/src/fullpage.css') }}" />
{% endblock %}

{% block body %}
<body>
    <div id="fullPage">
        <article class="section banniere" >
            <div class="filtre-background">
                <div class="pt15">
                    <p><br />Vous souhaitez nous contacter ? </p>
                    <br />
                    <p>Par téléphone au :</p>
                    <a href="tel:+0620763448" class="tel"> 06.20.76.34.48</a>
                </div>
            </div>
        </article>
        <article class="section bannierebleu">
            <div class="filtre-background">
                <p class="margetitre pt10">Une question, un avis, un besoin spécifique ? </p>
                <br />
                <form method="post" action="">
                    <input class= "taillechamp" type="text" name="prenom" id="pseudo" placeholder="Prénom*"/>
                    <input class= "taillechamp" type="text" name="nom" id="nom" placeholder="Nom*"/>
                    <br />
                    <input class= "taillechamp" type="email" name="email" id="email" placeholder="Email*"/>
                    <input class= "taillechamp" type="tel" name="telephone" id="telephone" placeholder="Téléphone*"/>
                    <br />
                    <textarea class="message" name="message" id="message" placeholder="Ici écrivez votre message :" rows="10" cols="30"></textarea>
                    <br />
                    <input class="boutonbleu" type="submit" value="Envoyer"/>
                </form>
            </div>
        </article>
        <article class="section banniereagenda">
            <div class="filtre-background">
                <form method="post" action="">
                    <h2 class="margetitre pt15">Vous préférez nous rencontrer ? </h2>
                    <input class="taillechamp" type="text" name="prenom" id="pseudo" placeholder="Prénom*"/>
                    <input class="taillechamp" type="text" name="nom" id="nom" placeholder="Nom*"/>
                    <br />
                    <input class="taillechamp" type="email" name="email" id="email" placeholder="Email*"/>
                    <input class="taillechamp" type="tel" name="telephone" id="telephone" placeholder="Téléphone*"/>
                    <br />
                    <p class="margetitre titreespace">Renseignez vos disponibilités</p>
                    <br />
                </form>
            </div>
        </article>
    </div>
    <script type="text/javascript" src="{{ asset('javascript/fullPageJs/src/fullpage.js') }}"></script>
    <script>
        new fullpage('#fullPage', {
            anchor: ['real'],
            licenseKey: '4CD0DA3D-41024375-B2E14494-0EFF885A',
            autoScrolling: true,
            navigation: true,
            slidesNavigation: true,
            scrollHorizontally: true,
        })
    </script>
</body>
{% endblock %}
