{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style_contact.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('javascript/fullPageJs/src/fullpage.css') }}" />
{% endblock %}

{% block body %}
<body>
    <div id="fullPage">
        <article class="section article1__banniere maxsize" >
            <div class="filtre-background maxsize">
                <div class="pt15">
                    <p><br />Vous souhaitez nous contacter ? </p>
                    <br />
                    <p>Par téléphone au :</p>
                    <a href="tel:+0620763448" class="formfields__police"> 06.20.76.34.48</a>
                </div>
            </div>
        </article>
        <article class="section article2__banniere maxsize">
            <div class="filtre-background maxsize">
                <p class="article2__title pt10">Une question, un avis, un besoin spécifique ? </p>
                <br />
                <form method="post" action="">
                    <input class= "formfields formfields__police" type="text" name="prenom" id="pseudo" placeholder="Prénom *" spellcheck="false"/>
                    <input class= "formfields formfields__police" type="text" name="nom" id="nom" placeholder="Nom *" spellcheck="false"/>
                    <br />
                    <input class= "formfields formfields__police" type="email" name="email" id="email" placeholder="Email *" spellcheck="false"/>
                    <input class= "formfields formfields__police" type="tel" name="telephone" id="telephone" placeholder="Téléphone" spellcheck="false"/>
                    <br />
                    <textarea class="formfields__message formfields__police" name="message" id="message" placeholder="Ici écrivez votre message : *" spellcheck="false"></textarea>
                    <br />
                    <p class="warning">Les champs de saisie marquées avec un astérisque (*) sont obligatoires !</p>
                    <input class="btn-blue" type="submit" value="Envoyer"/>
                </form>
            </div>
        </article>
        <article class="section article3__banniere">
            <div class="filtre-background maxsize">
                <p class="article3__title pt10">Où venez nous rencontrez autour d'une boisson chaude !</p>
                <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1b0xBm1BOrF_BTbCyO_dznYwQupuC6rUB" width="640" height="480" class="article3__card"></iframe>
            </div>
        </article>
    </div>
    <script type="text/javascript" src="{{ asset('javascript/fullPageJs/src/fullpage.js') }}"></script>
    <script>
        new fullpage('#fullPage', {
            anchor: ['real'],
            licenseKey: '4CD0DA3D-41024375-B2E14494-0EFF885A',
            autoScrolling: true,
            navigation: true,
            slidesNavigation: true,
            scrollHorizontally: true,
        })
    </script>
</body>
{% endblock %}
