{% extends 'base.html.twig' %}

{% block title %}Présentations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style_qui.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('javascript/fullPageJs/src/fullpage.css') }}"/>
{% endblock %}
{% block body %}
    <section>
        <div class="container-fluid">
            <div id="fullPage" class="row">
                <article class="section row s1 resetFull">
                    <div class="filtre-background">
                        <h1 class="titre">Présentation de la société North Web</h1>
                        <br/>
                        <div class="presentation">
                            <p class="pt5">North web est une agence basée à Lille.</p>
                            <br />
                            <p>Notre approche globale est un savant mélange de design, technologie et marketing.</p>
                            <p>Nous donnons un nouvel éclat à votre présence en ligne pour toucher le cœur de nos
                                clients.</p>
                            <br />
                            <p>Nous vous accompagnons pour affirmer votre image de marque,</p>
                            <p class="pb5">mettre en place des outils innovants, générer du trafic sur votre site et faciliter votre
                                développement.</p>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset('javascript/fullPageJs/src/fullpage.js') }}"></script>
        <script>
            new fullpage('#fullPage', {
                anchor: ['real'],
                licenseKey: '4CD0DA3D-41024375-B2E14494-0EFF885A',
                autoScrolling: true,
                navigation: false,
                slidesNavigation: true,
                scrollHorizontally: true,
            });
        </script>
    </section>
{% endblock %}

