{% extends 'base.html.twig' %}

{% block title %}Présentations{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style_qui.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('javascript/fullPageJs/src/fullpage.css') }}"/>
{% endblock %}
{% block body %}
    <section>
        <div class="container-fluid">
            <div id="fullPage" class="row">
                <article class="section row s1 resetFull">
                    <h1 class="titre">Faisons les présentations</h1>
                    <br/>
                    <div class="presentation">
                        <p class="pt5">North web est une agence basée à Lille.</p>
                        <br />
                        <p>Notre approche globale est un savant mélange de design, technologie et marketing.</p>
                        <p>Nous donnons un nouvel éclat à votre présence en ligne pour toucher le cœur de nos
                            clients.</p>
                        <br />
                        <p>Nous vous accompagnons pour affirmer votre image de marque,</p>
                        <p class="pb5">mettre en place des outils innovants, générer du trafic sur votre site et faciliter votre
                            développement.</p>
                    </div>
                </article>
                <article class="section row s2 resetFull">
                    <h1 class="policewall ">Wall of fame</h1>
                    <div class="police">
                        <div class="start">
                            <div class="zone-article">
                                <img class="imageprofil " src="./photo_profil/profil_mel.jpg">
                                <div class="zone-text description p">
                                    <h3 class="prenom">Mélanie</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus beatae
                                        natus,
                                        recusandae quisquam dolores aperiam ipsa corporis dolore, architecto excepturi
                                        sapiente,
                                        voluptates sequi dolorum doloremque magnam, consequuntur deleniti totam
                                        magni!</p>
                                </div>
                            </div>
                        </div>
                        <div class="end">
                            <div class="zone-article">
                                <div class="zone-text descriptionant ">
                                    <h3 class="prenom">Antoine</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime quia tempore
                                        quidem
                                        voluptates eveniet. Nihil dolorum quaerat dicta hic officia veniam eum velit
                                        similique quo,
                                        vitae, quibusdam voluptatem inventore est!</p>
                                </div>
                                <div>
                                    <img class="imageprofil" src="./photo_profil/profil_antoine.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="start">
                            <div class="zone-article">
                                <img class="imageprofil" src="./photo_profil/profil_farid.jpg">
                                <div class="zone-text description p">
                                    <h3 class="prenom">Farid</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, quas nisi
                                        quae quo sunt
                                        eveniet eius, libero animi optio obcaecati? Nemo explicabo nostrum laboriosam,
                                        minus! Nulla
                                        excepturi provident reprehenderit eaque!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <script type="text/javascript" src="{{ asset('javascript/fullPageJs/src/fullpage.js') }}"></script>
        <script>
            new fullpage('#fullPage', {
                anchor: ['real'],
                licenseKey: '4CD0DA3D-41024375-B2E14494-0EFF885A',
                autoScrolling: true,
                navigation: true,
                slidesNavigation: true,
                scrollHorizontally: true,
            });
        </script>
    </section>
{% endblock %}

